#Image_Startpage{
    width: 100%;
}
.galerie-container {
  display: grid; 
  grid-template-columns: 1r 1r;
  grid-template-rows: 1r 1r;
  grid-template-areas: "hotel1 hotel2"
                       "hotel3 hotel4";
  grid-gap: 40px;
  align-items: center; 
  padding: 10px; 
  width: auto; 
}
.galerie-container img {
  width: auto; 
  height: auto;
  margin-right: 10px; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 147.4px auto;
    grid-row: 200px auto auto 100px;

    grid-template-areas:"header nav "
                        "main main "
                        "main main "
                        "footer footer ";
    display: grid;
    background-color:#D9C3B0 ;
    
}
header{
    grid-area: header;
    background-color: #6FA0BF;
}
nav{
    grid-area: nav;
    display: grid;
    padding-top: 12px;
    background-color: #6FA0BF;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
}
#Image_Startpage{
    width: 100%;
}
ul, li {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}
#Logo{
height: 80px;
}
#Hotelpage{
    margin-left: 60px;
}
#Sightspage{
    margin-left: 190px;
}
#Restaurantspage{
    margin-left: 190px;
}
#Eventspage{
    margin-left: 190px;
}
#DiscoverOtherPlacesPage{
    margin-left: 190px;
}
h1, h2, p{
  color: white;
}